<!DOCTYPE html>
<html lang="en" ng-app="ChatApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My WebChat</title>
    <script src="/angular/angular.min.js"></script>
    <script src="app.module.js"></script>
    <script src="app.service.js"></script>
    <script src="app.ctrl.js"></script>
</head>
<body ng-controller="ChatCtrl as ctrl">
    <h1>My Web Chat</h1>
    <input type="text" placeholder="Enter message" ng-model="ctrl.message">
    <button ng-click="ctrl.send()">Send</button>
    <ul>
        <li ng-repeat="c in ctrl.chats">{{c}}</li>
    </ul>
</body>
</html>